<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initial-scale-1"/>
    <meta http-equiv="x-ua-compatible" content="ie-edge"/>
    <link href="../../css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"
          rel="stylesheet" type="text/css"/>
    <title> wordToHtml</title>
</head>
<body>
<div class="page-header">
    <h1>word文档显示</h1>
</div>
<div class="container">
    <div class="col-md-offset-1 col-md-10" th:if="${#lists.size(documents)==0}">
        <h2>No Contents found! Please <a th:href="@{/index}">上传!</a></h2>

    </div>
    <div class="col-md-offset-1 col-md-10">
        <form method="GET"
              th:object="${documents}"
                >
            <table class="table table-striped" th:if="${#lists.size(documents)>0}">
                <thead>

                <th>内容</th>

                </thead>
                <tbody th:each="WordToHtml : ${documents}" th:object="${WordToHtml}">
                <tr >
                    <td><pre th:text="*{{content}}"   >test</pre></td>


                </tr>
                <tr>
                    <td>
                        <div class="row">

                                <iframe  style="margin:0 auto;width:100%; height: 1000px " src=""
                                         th:src="*{{htmlContentPath}}"
                                ></iframe>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>
<script src="../../js/jquery.js"
        th:src="@{/js/jquery.js}"
        type="text/javascript"></script>
</body>
</html>